{# this is some other template that you want to display #}
{% extends "homepage\base.html" %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Here you go!</h1>
        <p>Sleepy Daddy</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2017 Winston Yip</p>
      </footer>
    </div> <!-- /container -->

{% endblock %}


